.counter {
    font-size: 2rem;
    font-weight: bold;

    div {
        text-align: center;

        button {
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.25rem;
            background-color: lightblue;
            color: #fff;
            cursor: pointer;
            outline: none;
        }
    }
}