.todo {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    text-align: center;

    button {
        font-size: 20px;
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: lightblue;
        color: #fff;
        cursor: pointer;
        outline: none;
    }
}